@model List<universidad1.Models.Horario>

<div class="container mt-4">
    <h2>Horarios de Clases</h2>
    <hr />
    <div class="text-end mb-3">
        <a asp-action="Create" class="btn btn-success">Asignar Horario</a>
    </div>

    <table class="table table-bordered table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Grupo</th>
                <th>Día</th>
                <th>Entrada</th>
                <th>Salida</th>
                <th>Aula</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var h in Model)
            {
                <tr>
                    <td><strong>@h.ClaveGrupo</strong></td>
                    <td>@h.DiaSemana</td>
                    <td>@h.HoraInicio.ToString(@"hh\:mm")</td>
                    <td>@h.HoraFin.ToString(@"hh\:mm")</td>
                    <td><span class="badge bg-info text-dark">@h.CodigoAula</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>