@model List<universidad1.Models.CalificacionViewModel>

@{
    ViewData["Title"] = "Calificaciones";
}

<div class="container mt-4">
    <h2>Registro de Calificaciones</h2>
    <hr />

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID Reg.</th>
                <th class="text-warning">Nombre del Alumno (INNER JOIN)</th>
                <th>Grupo ID</th>
                <th>Parcial 1</th>
                <th>Parcial 2</th>
                <th>Promedio</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr><td colspan="7" class="text-center">No hay calificaciones registradas.</td></tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><strong>@item.NombreAlumno</strong></td>
                        <td>@item.NombreMateria</td>
                        <td>@item.Parcial1</td>
                        <td>@item.Parcial2</td>
                        <td>@item.PromedioFinal</td>
                        <td>@item.EstatusAprobacion</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>