@model List<universidad1.Models.Calificacion>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Actas de Calificaciones</h2>
        <a asp-action="Create" class="btn btn-success">+ Nueva Calificación</a>
    </div>

    <table class="table table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Alumno</th>
                <th>Materia</th>
                <th>Grupo</th>
                <th>P1</th>
                <th>P2</th>
                <th>Promedio</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.NombreAlumno</td>
                    <td>@c.NombreMateria</td>
                    <td><span class="badge bg-secondary">@c.ClaveGrupo</span></td>
                    <td>@c.Parcial1</td>
                    <td>@c.Parcial2</td>
                    <td class="fw-bold">@c.PromedioFinal</td>
                    <td>
                        <span class="badge @(c.EstatusAprobacion == "Aprobado" ? "bg-success" : "bg-danger")">
                            @c.EstatusAprobacion
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>