@model List<universidad1.Models.Profesor>

@{
    ViewData["Title"] = "Plantilla Docente";
}

<div class="container mt-4">
    <h2>Directorio de Profesores</h2>
    <hr />

    <div class="mb-3 mt-3 text-end">
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-person-plus-fill"></i> Registrar Nuevo Profesor
        </a>
    </div>

    <table class="table table-striped table-hover align-middle shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>No. Empleado</th>
                <th>Nombre Completo</th>
                <th>Especialidad</th>
                <th class="text-info">Departamento (JOIN)</th>
                <th>Correo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr><td colspan="6" class="text-center text-muted">No hay profesores registrados.</td></tr>
            }
            else
            {
                @foreach (var prof in Model)
                {
                    <tr>
                        <td><span class="badge bg-secondary">@prof.NumeroEmpleado</span></td>
                        <td>@prof.Nombre @prof.ApellidoPaterno @prof.ApellidoMaterno</td>
                        <td>@prof.Especialidad</td>
                        <td><strong>@prof.NombreDepartamento</strong></td>
                        <td>@prof.Correo</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@prof.Id" class="btn btn-sm btn-warning shadow-sm">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>